MONGODB_URI=
DB_NAME=DBservisos
MONGODB_DB=DBservisos
API_VERSION=v1
PORT=3000
ADMIN_API_KEY=
BLING_USER=
BLING_PASSWORD=

# Configuracao SMTP para envio de e-mail
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASSWORD=
SMTP_FROM="HLS API <yamaService@noreplay.com>"

# Webhook para atribuicao de tecnico
ASSIGNMENT_WEBHOOK_URL="https://yamamotto-dev.app.n8n.cloud/webhook/Conclusão"
